.div_output {
	border: 1px solid black;
	padding: 5px;
}

<!-- Input Button -->
input[type="text"] {
	width: 200px;
	height: 20px;
	padding-right: 50px;
}

 {
	margin-left: -50px;
	height: 20px;
	width: 50px;
	border:1px solid blue;
	background:blue;
	color:white;
}